*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  color: rgb(237, 237, 237);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

body{
  background-color: black;
}

header,
footer{
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
}

.container{
  display: flex;
  width: 100vw;
}

.row{
  width: 100%;
  display: flex;
}

.col{
  display: flex;
}
  
/*<----->*/

/* Header */
  header{
    font-weight: 600;
    height: 40px;
  }

  header .row{
    justify-content: flex-end;
  }

  header .col{
    display: flex;
    column-gap: 8px;
    margin-right: 10px;
  }

  header button{
    border: none;
    padding: 4px 6px;
    background-color: rgb(118,120,113);
    border-radius: 5px;
  }

  button{
    cursor: pointer;
  }
/*<----->*/

/* Main*/
  main{
    padding: 50px 0;
    height: calc(100vh - 40px);
  }

  main .container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 90%;
    margin: 0 auto;
  }

  main .row{
    height: calc(100%/5);
    column-gap: 5px;
  }

  main .col{
    width: calc(100%/7);
  }

  .img-container{
    position: relative;
  }
  
  main img{
    width: 100%;
  }

  .guest-name{
    z-index: 3;
    padding: 3px 5px;
    position: absolute;
    bottom: 0px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
/*<----->*/

/* Footer*/
  footer{
    height: 40px;
    background-color: rgb(34,34,34);
  }

  footer .row{
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }

  footer .col{
    column-gap: 15px;
  }

  .col-sm{
    justify-content: flex-start;
    width: 20%;
  }

  .col-lg{
    justify-content: center;
    width: 60%;
  }

  .icon-container{
    height: 30px;
    display: flex;
  }

  footer i{
    font-size: 15px;
  }
  
  .icon{
    text-align: center;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
  }

  .text{
    width: 50px;
  }

  .arrow-container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
  }

  .arrow-head{
    font-size: 10px;
  }

  footer button{
    color: rgb(196, 0, 0);
    background-color: rgb(56, 56, 56);
    font-weight: 600;
    padding: 0 10px;
    border: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-out;
  }

  footer button:hover{
    background-color: rgb(104, 104, 104);
  }
/*<----->*/

/* Utils */
.ml-10{
  margin-left: 10px;
}

.cursor-pointer{
  cursor: pointer;
}

.jc-flex-end{
  justify-content: flex-end;
}

.green{
  color: green;
}

.cg-10{
  column-gap: 10px;
}

.w-100px{
  width: 100px;
}

.h-100{
  height: 100%;
} 